# Dependencies
node_modules/
vendor/

# Environments
.env
.env.local
.env.backup
.env.production
.env.*.local

# Logs and Caches
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.phpunit.cache
.phpunit.result.cache

# Mac/OS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Build Artifacts
frontend/dist/
frontend/dist-ssr/
backend/public/build/
backend/public/hot/

# Storage
backend/storage/*.key
backend/public/storage
